
.cards-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.card {
  width: 270px;
  /* height: 350px; */
  border: 1px solid;
  border-style: groove;
}

img {
  width: 270px;
  height: 270px;
}

.box-product {
  text-align: center;
  height: 125px;
}

.product-brand {
  font-weight: 300;
}

.product-name {
  font-size: medium;
  font-weight: 50;
}

.product-price {
  font-weight: 430;
}

.card-question {
  /* width: 250px; */
  /* height: 250px; */
  margin-left: 25px;
  margin-bottom: 40px;
}

@media screen and (max-width: 660px) {
  .cards-list {
    padding: 17px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 170px;
  }

  img {
    width: 168px;
    height: 180px;
  }

  .product-name {
    font-weight: 500;
  }

  .box-product {
    height: 139px;
  }
}

@media screen and (max-width: 376px) {
  .cards-list {
    padding: 17px;
    gap: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 160px;
  }

  img {
    width: 157px;
    height: 180px;
  }

  .product-name {
    font-weight: 500;
  }

  .box-product {
    height: 140px;
  }
}